/.bundle
.DS_Store
/db/*.sqlite3

/log/*.log
/tmp
/public/uploads
/db/data.yml

/config/google_api_key.p12
/swachalit.sublime-project
/swachalit.sublime-workspace

/data/mysql
/data/redis

/.env
/.env.mysql
/public/assets
/.vagrant
/ubuntu-xenial-16.04-cloudimg-console.log

.byebug_history

brakeman-sast-report.html
brakeman-sast-report.txt
