<div class='row'>
  <h1><center>Session Request Created!</center></h1>
  <br/>
  <div class='col-md-8 col-md-offset-2'>
    <p class='lead'>Thanks for your request. We will consider finding an appropriate speaker and include your requested session in upcoming null events.</p>
  </div>
</div>