<div class='row'>
  <div class='col-md-12'>
    <div class='page-header'>
      <h3>null Community Platform</h3>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <h4>About</h4>
    <p>
      This portal will host event related information for null community. For more details <%= link_to "go here", "http://www.null.co.in", :target => '_blank' %>.
    </p>
    <br/>
    <h4>Contribution</h4>
    <p>
      If you are a Ruby on Rails developer or some one experienced with HTML/CSS/JS and UI/UX stuff, we really need your help. If you would like to volunteer to improve this project, kindly get in touch with us.
    </p>
    <br/>
    <h4>Bug Reports</h4>
    <p>
      Bug reporting is a fundamental requirement of any community project. If you feel this platform is helping the community, please consider reporting bugs. You can send your bug reports to <%= link_to "aka@null.co.in", "mailto:aka@null.co.in" %>
    </p>
  </div>
</div>