<%- title("Events Calendar - null Community") %>

<div class='row' style='margin-top: 1em; margin-bottom: 1em;'>
  <div class='col-md-12'>
    <center>
      <iframe src="https://www.google.com/calendar/embed?src=null.co.in_0k2ane06pfddf748tipulffklo@group.calendar.google.com&amp;height=600&amp;ctz=Asia/Calcutta" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no">
      </iframe>
  </center>
  </div>
</div>