<div class='row'>
  <div class='col-md-12'>
    <h1>Privacy Policy</h1>
    <hr>
    <h2>Who are we?</h2>
    <p>Our website address is <a href="https://null.community">https://null.community</a></p>
    <p>This is owned by null, a society registered in India with its registered office at Flat No 34, Manisha Terrace 2A, Moledina Road, Pune Camp 411001.</p>
    <h2>Automated System Information</h2>
    <p>The web server maintenance team collects certain meta data about the visitors to the website for the purpose of statistics and enhancement of browser experience. These are not identified with any specific natural person. No specific profiling is done by the owners of the website of the users. This data is therefore considered anonymous data.</p>
    <h2>Members</h2>
    <p>Members who join the organization provide such information that are called for in the membership application form which may be collected offline or through online forms. These are obtained on specific consent and for the purpose of providing specific services.</p>
    <p>The interaction with the visitors when required such as for registering for any events is handled through the e-mails to be sent by the individual. The hyperlink meant to open the e-mail client of the user who opts to click the link does not collect any information about the sender before he opts to send the e-mail with whatever information he wants to share.</p>
    <p>The members who opt for Webinars or Training conducted by null require to submit information required for issue of such certificates or invitations for the training sessions which may include their contact information as well as photographs for identification.</p>
    <p>Members who opt to join any of the messaging groups meant for maintaining contact with the members and prospective members are required to share such information as may be required to maintain the messaging platform such as their WhatsApp or Telegram identity. For physical events, we will need to share the registration details including Photo ID etc., with the venue providers/hosts. For online webinars, we will need to share the registration details including email address etc., with the service provider.</p>
    <p>The collection, processing, retention, security and management of such information is subject to the compliance requirements under Indian laws applicable to corporate management including practice of “Due Diligence” and “Reasonable Security Practices” under Information Technology Act 2000 and Companies Act 2013. As a part of the Due Diligence requirements, null adopts the best practices as suggested under draft Personal Data Protection Act 2019 as presented as a bill in the Indian Parliament on 11th December 2019.</p>
    <p>We adhere to the legal jurisdiction of India and do not recognize the jurisdiction of any foreign laws in this regard.</p>
    <h3>Grievance Redressal</h3>
    <p>Any grievance related to the operations of <i>null</i> shall be resolved with the use of online dispute resolution mechanism on the platform of <a href="https://www.odrglobal.in" target="_blank">www.odrglobal.in</a> through a process of Mediation and thereafter Arbitration as per the provisions of the Indian Arbitration Act.</p>
  </div>
</div>
