<%- title "#{@user.name} - null Community Profile" %>
<div class='row' style='margin-top: 1em;'>
  <div class='col-md-3'>
    <%= render :partial => 'shared/pp_avatar_social', :locals => { :user => @user } %>
  </div>
  <div class='col-md-9'>
    <div class='row'>
      <div class='col-md-8'>
        <h1>
          <%= @user.name %> <br/>
          <small>null Community Profile</small>
        </h1>

        <div class='panel panel-default' style='float: left'>
          <div class='panel-heading'>
            <strong><center>Sessions</center></strong>
          </div>
          <div class='panel-body'>
            <h2><center><%= @user.registered_participation.count %></center></h2>
          </div>
        </div>
        <div class='panel panel-default' style='float: left'>
          <div class='panel-heading'>
            <strong><center>Speaking</center></strong>
          </div>
          <div class='panel-body'>
            <h2><center><%= @user.speaker_sessions.count %></center></h2>
          </div>
        </div>

      </div>
      <div class='col-md-4'>
        <!-- TODO -->
      </div>
    </div>
  </div>
</div>