<div class='row' style='margin-top: 2em;'>
  <div class='col-md-6 col-md-offset-3'>
    <div class="panel panel-default">
      <div class="panel-heading"><h3>E-Mail Confirmation Required</h3></div>
      <div class="panel-body">
        <p>
          An e-mail has been sent to the e-mail address with which you have registered. You must <strong>click the link</strong> in the e-mail to confirm ownership of the e-mail account in order to activate your account.
        </p>
      </div>
    </div>
  </div>
</div>