<%- title "Create Event Mailer Task - Null Community" %>
<div class='row'>
  <div class='col-md-12'>
    <div class='page-header'>
      <h2>
        Create Event Mailer Task
        <span class='pull-right'>
          <%= link_to "Back to Event Mailer Tasks", leads_event_event_mailer_tasks_path(), :class => 'btn btn-primary' %>
          <%= link_to "Back to Event List", leads_events_path(), :class => 'btn btn-primary' %>
        </span>
      </h2>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <%= render 'form' %>
  </div>
</div>