<%- title "Propose a Session" %>
<div class='row'>
  <div class='col-md-12'>
    <div class='page-header'>
      <h2>
        Propose a Session
      </h2>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <%= render 'form' %>
  </div>
</div>