<div class='row'>
  <h1><center>Session Proposal Created!</center></h1>
  <br/>
  <div class='col-md-8 col-md-offset-2'>
    <p class='lead'>Thanks for your interest. We will consider finding an appropriate slot to include your session in upcoming null events.</p>
  </div>
</div>