<div class='row'>
  <br/>
  <div class='col-md-8 col-md-offset-2'>
    <p class='lead'>Thank you for your interest. Your proposal is with the chapter leads. They will get in touch with you should your proposal considered for inclusion in a null event.</p>
  </div>
</div>
