<%- title "Edit Event - null Community" %>
<div class='row'>
  <div class='col-md-12'>
    <div class='page-header'>
      <h2>
        Edit Event #<%= @event.id %>
        <span class='pull-right'>
          <%= link_to "Back to Event List", leads_events_path(), :class => 'btn btn-primary' %>
        </span>
      </h2>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <%= render 'form' %>
  </div>
</div>