<div class='container'>
  <div class='alert alert-info alert-block'>
    <button type="button" class="close" data-dismiss="alert">x</button>
    <p>
      <h4>null Global Committee elections are coming up! See the <a href="https://github.com/null-open-security-community/null-Global-Committee-Election">election repository</a> for more information.</h4>
    </p>
  </div>
</div>
