<footer>
  <div class='container'>
    <div class='row'>
      <hr/>
      <div class='col-md-4'>
        <%= image_tag 'null_logo.png' %> <br/>
      </div>
      <div class='col-md-5'></div>
      <div class='col-md-3'>
        <div class='row'>
          <div class='col-md-12'><small><strong>null - The Open Security Community</strong></small></div>
        </div>
        <div class='row'>
          <div class='col-md-12'>
            <ul class='list-inline'>
              <li><%= twitter_icon('http://www.twitter.com/null0x00') %></li>
              <li><%= facebook_icon('http://www.facebook.com/null0x00') %></li>
              <li><%= group_icon('https://groups.google.com/forum/#!forum/null-co-in') %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <center>
          <small>
            Made with <a href='http://www.rubyonrails.org' target='_blank'>Ruby on Rails</a> with love from <a href="http://www.getbootstrap.com" target='_blank'>Twitter Bootstrap</a> &amp; <a href="http://www.bootswatch.com" target='_blank'>Bootswatch</a>.
          </small>
        </center>
        <br/>
      </div>
    </div>
  </div>
</footer>
